<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <form action='/buttonClick' method="POST">
        <input type="submit" style="background-color:darkred;" name="btn" value="red">
        <input type="submit" style="background-color:mediumblue" name="btn" value="blue">
        <input type="submit" style="background-color:green" name="btn" value="green">
   </form>
    </center>
</body>
</html>